<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <style>
        body {
      font-family: 'Roboto', sans-serif;
      background: #161616;
    }
        .form-icon {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.75rem;
            height: 2.75rem;
            line-height: 2.75rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
        .form-input {
            padding-left: 2.75rem;
        }
        .container {
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center" style="margin-top: 15rem;">
            <div class="col-md-6">
                <h1 class="text-center mb-4 text-white">Restablecer Contraseña</h1>
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 position-relative">
                            <i class="fas fa-lock form-icon"></i>
                            <input type="password" class="form-control form-input" id="new-password" placeholder="Nueva Contraseña" required>
                        </div>
                        <div class="mb-3 position-relative">
                            <i class="fas fa-redo form-icon"></i>
                            <input type="password" class="form-control form-input" id="confirm-password" placeholder="Confirmar Contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" id="btn-reset-password">Restablecer Contraseña</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const resetPasswordButton = document.getElementById('btn-reset-password');
        resetPasswordButton.addEventListener('click', async () => {
            const newPassword = document.getElementById('new-password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            if (newPassword !== confirmPassword) {
                alert('Las contraseñas no coinciden');
                return;
            }

            const urlParams = new URLSearchParams(window.location.search);
            const token = urlParams.get('token');

            const res = await fetch(`/api/sessions/reset-password`, {
                method: 'POST',
                headers: { "Content-type": "application/json; charset=UTF-8" },
                body: JSON.stringify({ token: token, newPassword: newPassword })
            });

            const data = await res.json();
            console.log(data);
        });
    </script>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
