<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Agradecimiento por la Compra</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    body {
      background-color: #1F1F1F;
      color: #fff;
      font-family: Arial, sans-serif;
    }
    .thank-you-container {
      text-align: center;
      padding: 50px;
      background-color: #495057;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .icon {
      color: #4CAF50;
      font-size: 4rem;
      margin-bottom: 10px;
    }
    .btn-custom {
      background-color: #6c757d;
      color: #fff;
      border: none;
      margin-top: 20px;
      transition: background-color 0.3s, color 0.3s;
    }
    .btn-custom:hover {
      background-color: #fff;
      color: #000;
    }
  </style>
</head>
<body>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="thank-you-container">
      <i class="fas fa-check-circle icon"></i>
      <h1>¡GRACIAS POR TU COMPRA!</h1>
      <p>Tu pedido ha sido procesado con éxito. Te enviaremos un correo con los detalles de tu compra.</p>
      <a href="/carrito" class="btn btn-custom">Volver al Carrito</a>
      <a href="/" class="btn btn-custom">Ir a la Página Principal</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
